name: qa

on:
  pull_request:
    branches:
      - main

jobs:
  cpp-linter:
    name: c++ linter
    defaults:
      run:
        shell: bash -el {0}
    runs-on: ubuntu-latest
    steps:
      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.9
          auto-update-conda: false
          channels: andrsd,defaults

      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          conda install \
            cmake=3.31.2 \
            rhash=1.4.3 \
            make \
            compilers=1.9.1 \
            mpich-mpicxx=4.3.* \
            fmt=11.* \
            gtest

      - name: Configure
        run: |
          cmake -S ${{ github.workspace }} -B ${{ github.workspace }}/build \
            -DMPICPP_LITE_BUILD_TESTS=YES \
            -DMPICPP_LITE_CODE_COVERAGE=YES \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=on

      - uses: cpp-linter/cpp-linter-action@v2
        with:
          style: file
          tidy-checks: ""
          version: 14
          lines-changed-only: true
          ignore: "contrib"
          step-summary: true
          database: build

  check-spdx-tags:
    name: check spdx tags
    defaults:
      run:
        shell: bash -el {0}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: kt3k/license_checker@v1.0.6
